.card-trending-c{
    width: 330px;
    height: 525px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mini-img{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.score-ctc-mini{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A259FF;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
.card-trending-c-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.card-trading-c-info-title{
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}
.card-trading-c-info-person img{
    width: 24px;
}
.card-trading-c-info-person{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 12px;
}