


.trendingCollection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 60px;
    height: 836px;
    max-width: 1050px;
    width: 100%;
}
.trendingCollection-Card{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.trendingCollection-title-dscr{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 10px;
    color: white;
}
.trendingCollection-title {
    margin: 0;
    font-weight: 600;
    font-size: 38px;
}
.trendingCollection-dscr{
    margin: 0;
    font-weight: 400;
    font-style: 22px;
}
