.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 265px;
    background-color: #3B3B3B;
}
.footer-nav-items {
    width: 240px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.footer-nav-item {
    color: #CCCCCC;
    font-size: 16px;
    font-weight: 400;
}
.footer-item-title {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 22px;
    line-height: 35.2px;
    color: white;
}
.footer-form-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 420px;
}
/* .footer-form-item {

} */
.form-item{
    display: flex;
    align-items: center;
}
.form-item input{
    height: 58px;
    position: absolute;
    border-radius: 20px 0 0 20px;
    width: 241px;
    border: none;
    color: rgb(43, 43, 43);
    outline:none;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s ease;
}
.form-item input:focus {
    background-color: rgb(182, 182, 182);

}
.form-item button{
    position: relative;
    margin-left: 225px;
    border-radius: 20px;
    width: 179px;
    height: 60px;
    background-color: #A259FF;
    color: white;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
.form-item button:active{
    background-color: #7c44c6;
}
.footer-long-item {
    width: 330px;
}